<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kelvinbiffi.com.taptowin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_tap_to_win"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_tap_to_win"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity android:name=".Splash"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main"
            android:screenOrientation="portrait" />
    </application>

</manifest>